root = true

[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 2

# Input/output is 2-space indent
[test/*-cases/*]
indent_size = 2

[test/**/*]
insert_final_newline = false
